.jpg
.env
.png
trash
.ttf
.csv
data
.pyc
checkpoints
craft_threshold_experiments
craft_threshold_experiments_2
dell.py
dell2.py
dell3.py
dell4.py
dell5.py
new_place
src/__pycache__/config.cpython-38.pyc
src/config.py
src/generators/__pycache__/generate_english_only_prescription.cpython-38.pyc
src/scripts/__pycache__/build_dataset.cpython-38.pyc
src/utils/craft.py
src/generators/__pycache__/generate_arabic_only_prescriptions_class.cpython-38.pyc
src/generators/__pycache__/generate_english_only_prescription_class.cpython-38.pyc
src/scripts/__pycache__/build_classifier_dataset.cpython-38.pyc

src/training/
src/utils/annotate_lang.py
